{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First page</title>
</head>
<body>
    <ul>
        <li>Active</li>
        <li>Add</li>
        <li>Completed</li>
    </ul>

    {% for task in db %}
        <div>
            <span>{{task.Title}}  </span>
            <a href="remove/{{task.id}}">✖</a>
        </div>

        <p>Description: {{task.Description}}</p>
        <div class="time">
            <p>Date: {{task.Date}}</p>

        </div>
    <hr>
    {% endfor %}
</body>
</html>